html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:root {
    --pink: #ff0096;
    --orange: #f44336;
    --blue: #3d85c6;
}

@font-face {
    font-family: 'Game-Of-Squid';
    src: url('fonts/game-of-squids.otf');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 22px;
    font-family: 'Game-Of-Squid';
    text-align: center;
    background-color:var(--pink);
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 2rem);
    padding: 1rem;
}

/* header */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2rem;
    line-height: 110%;
    margin-bottom: 1rem;
}

#game-instructions {
    font-size: 0.63rem;
}

#score-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0.063rem solid white;
    width: 100%;
    max-width: 20rem;
}


/* banner */

#popup-banner {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.63);
    border-radius: 0.2rem;
}

#popup-banner.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner-content {
    padding: 1rem;
    border-radius: 0.2rem;
}

#game-outcome {
    margin-bottom: 1rem;
    font-size: 2rem;
    overflow-wrap: break-word;
    line-height: 120%;
}

#close-banner-btn {
    background-color: black;
    font-size: 0.63rem;
    color: white;
    padding: 0.4rem;
    border-radius: 0.2rem;
    border: 0.063rem solid black;
}

#close-banner-btn:hover {
    color: white;
    background-color: var(--pink);
    cursor: pointer;
    border-color: white;
}

#popup-banner.win #banner-content {
    background-color: var(--blue);
}

#popup-banner.fail #banner-content {
    background-color: var(--orange);
}


/* path (list) */

#path-container {
    display: flex;
    gap: 0.5rem;
    padding-left: 0;
    justify-content: center;
    margin-top: 1rem;
    max-width: 100%;
}

#path-container li {
    display: block;
    height: 3rem;
    width: 3rem;
    border-radius: 0.2rem;
    background-color: black;
}

#path-container li.player {
    background-image: url('img/player.svg');
    background-size: contain;
    background-position: center, center;
    background-size: 70%;
    background-repeat: no-repeat;
}

#path-container li[data-trap="true"].active {
    background-color: var(--orange);
}

#path-container li[data-trap="false"].active {
    background-color: var(--blue);
}


@media only screen and (min-width: 900px) {
    html {
        font-size: 32px;
    }
}

@media only screen and (min-width: 1200px) {
    html {
        font-size: 48px;
    }
}